<h1>hello from the dashboard</h1>

<a href='/logout'>Log out!</a><br>

<p>Username: <%= @user.username %></p>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<!-- #it should have basic profile information

#list of surveys that have been taken

#list of all surveys that have been created

#button to create new survey

#button that links to available surveys -->
