    <p>Survey name: <%=@survey.name%></p>
    <p>Expiration date: <%=@survey.expiration%></p>
    <p><em>* survey will expire at 5pm PST</em></p><br><br>
<form action="/users/<%= session[:id] %>/question/create" method="post" id="survey-created">
      <input type="hidden" name="survey_id" value="<%= @survey.id %>" >
      <label for="text">Question: </label><br>
      <input type="input" size="70" name="text" id="survey-name" placeholder="Enter a new question:"><br><br>
    <input class="button success" id="add-question" type="submit" value="Add Question">
  </form>

<!-- assuming a Y or N choice -->

