<p>Question : <%= @question.text %></p>
<form action="/users/<%= session[:id] %>/question/create" method="post" id="add-question">
  <label for="text">Question: </label><br>
  <input type="input" size="70" name="text" id="question-text" placeholder="Enter a new question:"><br><br>
  <input type="submit" value="Add Question" class="button success">
</form>
<form method="get" action="/users/:id">
    <button class = "button" type="submit">Done</button>
</form>

